<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200">

    <div class="container mx-auto p-6">
        <div class="grid grid-cols-4 gap-6">
            <div class="col-span-1">
                <div class="border rounded-lg bg-white shadow-sm p-4">
                    <h2 class="text-lg font-semibold mb-3">Categories</h2>
                    <ul class="space-y-2">
                        
                        <li><a href="{% url 'gallery' %}" class="block px-3 py-2 rounded hover:bg-gray-100">All</a></li>
                        {% for category in categories %}
                        <li><a href="{% url 'gallery' %}?category={{category.name}}" class="block px-3 py-2 rounded hover:bg-gray-100">{{ category.name }}</a></li>
                        {% endfor %}
                        <li class="flex justify-center pt-1"> <a href="{% url 'add' %}" class="text-black bg-black text-white p-2 rounded-md">Add Photo</a></li>
                        
                    </ul>
                </div>
            </div>

            <!-- Cards -->
            <div class="col-span-3 grid grid-cols-3 gap-6 h-auto">

                {% for photo in photos %}
                <div class="border rounded-lg bg-white shadow-md overflow-hidden">
                {% if photo.image %}
                <img src="{{ photo.image.url }}" alt="Sample" class="w-full h-60 object-contain p-3">
                {% else %}
                    <div class="w-full h-60 flex items-center justify-center bg-gray-100 text-gray-400">
                        No Image Available
                    </div>
                {% endif %}
                <div class="p-4">
                    <p class="text-sm text-gray-600 mb-2">Category: {{ photo.category.name }}</p>
                    <a href="{% url 'photo' photo.id %}" class="block w-full text-center border border-gray-400 text-gray-700 py-2 rounded hover:bg-gray-100">View</a>
                </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

</body>
</html>
